#wrapper
  .container#head
    #header
      %h2 I'm Ryan.
      %h2 I like building websites and stuff.
  #color
  .container#big
    #main
      %p Here's a paragraph describing how awesome and skilled I am at various life shit.
      %p I'm from Buffalo, NY. Recently relocated to San Francisco doesn't quite so much need a clarifying state suffix.
      %p
        B.S. in Computer Science and B.A. in Cognitive Science from the
        %a(href="http://www.buffalo.edu/") University at Buffalo's
        %a(href="http://honors.buffalo.edu/") Honors College 
        = "."
      %h3
        I'm on 
        %a(href="https://github.com/rcoppolo")github
        and the
        %a(href="https://twitter.com/rcoppolo")twitter
        = "."
      %h3
        And don't hesitate to drop me a line at
        %a(href="mailto:r@coppolo.com")r@coppolo.com
