#wrapper
  .container#head
    #header
      %h2 I'm Ryan.
      %h2 I like building websites and stuff.
  #colorwrapper
    #color
  .container#big
    #main
      %p
        I'm a recent graduate of
        %a(href="http://www.devbootcamp.com/")Devbootcamp.
        I've spent the past two months studying web development with twenty other smart, driven people. We've pair programmed constantly and worked on a number of large scale projects. I've learned a bunch and have no intention of slowing down.
      %p
        I have a B.S. in Computer Science and B.A. in Cognitive Science from the
        %a(href="http://www.buffalo.edu/") University at Buffalo's
        %a(href="http://honors.buffalo.edu/") Honors College.
        I love to fiddle around and build things.
      %p
        %a(href="http://whatevers.io/")Here's one project I'm currently working on.
      %ul
        Things I know:
        %li
          &#10004;  Ruby
        %li
          &#10004; Rails
        %li
          &#10004; HTML/CSS
        %li
          &#10004; JavaScript/JQuery
        %li
          &#10004; RSpec/TDD
        %li
          &#10004; Version control with Git
      %ul
        What I plan on learning next:
        %li
          &#10004; Node.js
        %li
          &#10004; Backbone.js
        %li
          &#10004; Redis/MongoDB/CouchDB
        %li
          &#10004; User Experience
        %li
          &#10004; iOS Development
      %h3
        I'm on 
        %a(href="https://github.com/rcoppolo")github
        and the
        %a(href="https://twitter.com/rcoppolo")twitter.
      %h3
        And don't hesitate to drop me a line at
        %a(href="mailto:r@coppolo.com")r@coppolo.com
